<.header>
  Edit Directors <%= @directors.id %>
  <:subtitle>Use this form to manage directors records in your database.</:subtitle>
</.header>

<.directors_form changeset={@changeset} action={~p"/director/#{@directors}"} />

<.back navigate={~p"/director"}>Back to director</.back>
