<.header>
  New Directors
  <:subtitle>Use this form to manage directors records in your database.</:subtitle>
</.header>

<.directors_form changeset={@changeset} action={~p"/director"} />

<.back navigate={~p"/director"}>Back to director</.back>
