<.header>
  New Actors
  <:subtitle>Use this form to manage actors records in your database.</:subtitle>
</.header>

<.actors_form changeset={@changeset} action={~p"/actor"} />

<.back navigate={~p"/actor"}>Back to actor</.back>
