<.header>
  Edit Films <%= @films.id %>
  <:subtitle>Use this form to manage films records in your database.</:subtitle>
</.header>

<.films_form changeset={@changeset} action={~p"/film/#{@films}"} />

<.back navigate={~p"/film"}>Back to film</.back>
