<.header>
  Edit Titles <%= @titles.id %>
  <:subtitle>Use this form to manage titles records in your database.</:subtitle>
</.header>

<.titles_form changeset={@changeset} action={~p"/title/#{@titles}"} />

<.back navigate={~p"/title"}>Back to title</.back>
