<.header>
  Search Movies
  <:subtitle>Search your favorite movies and rate them.</:subtitle>
</.header>

<.searches_form changeset={@changeset} action={~p"/search"} />

<.back navigate={~p"/search"}>Back to search</.back>
