<.header>
  New Searches
  <:subtitle>Use this form to manage searches records in your database.</:subtitle>
</.header>

<.searches_form changeset={@changeset} action={~p"/search"} />

<.back navigate={~p"/search"}>Back to search</.back>
